<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation sideNaveClose_">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="/assets/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                </div>
                <div class="col col s8 m8 l8">
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li><a (click)="processSideBar()" routerLink="/logout" *ngIf="auth.loggedIn"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                        </li>
                        <li><a (click)="processSideBar()" routerLink="/login" *ngIf="!auth.loggedIn"><i class="mdi-hardware-keyboard-tab"></i> Login</a>
                        </li>
                    </ul>
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    <p class="user-roal">Administrator</p>
                </div>
            </div>
        </li>
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/items" routerLinkActive="active" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Items</a>
        </li>
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/admin" routerLinkActive="active" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Admin</a>
        </li>
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/addresses" routerLinkActive="active" *ngIf="auth.loggedIn" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Addresses</a>
        </li>
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/user-orders" routerLinkActive="active" *ngIf="auth.loggedIn" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> User Orders</a>
        </li>
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/register" *ngIf="!auth.loggedIn" routerLinkActive="active" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Register</a>
        </li>
        
        <li class="bold">
            <a (click)="processSideBar()" routerLink="/orders" *ngIf="!auth.loggedIn" routerLinkActive="active" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Orders</a>
        </li>
    </ul>
    <a (click)="processSideBar($event)" data-activates="slide-out" class="sideNaveClose sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
</aside>