<!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
<div *ngIf="authService.loggedIn">
  <cart></cart>  
</div>
<div>
	Hi{{user}}
</div>

</nav>
 -->
<nav id="nav-main" class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">

      <!-- <a *ngIf="auth.loggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><cart></cart></a> -->

    <div class="" id="myNavbar">
      <ul class="">
      </ul>
      <ul class="">
        <li *ngIf="auth.loggedIn">
          <!-- <cart></cart>   -->
        </li>
      </ul>
    </div>
  </div>
</nav>
