<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current Items ({{leafyGreenVegetables.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>nameForTelugu</th>
          <th>nameForHindi</th>
          <th>type</th>
          <th>description</th>
          <th>available</th>
          <th>countPerKg</th>
          <th>averageWeightPerPiece</th>
          <th>price</th>
          <th>imageForShowCase</th>
          <th>imageForCart</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="leafyGreenVegetables.length === 0">
        <tr>
          <td colspan="4">There are no items in the DB. Add a new item below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cat of leafyGreenVegetables">
          <td>{{cat.name}}</td>
          <td>{{cat.nameForTelugu}}</td>
          <td>{{cat.nameForHindi}}</td>
          <td>{{cat.type}}</td>
          <td>{{cat.description}}</td>
          <td>{{cat.available}}</td>
          <td>{{cat.countPerKg}}</td>
          <td>{{cat.averageWeightPerPiece}}</td>
          <td>{{cat.price}}</td>
          <td><img [src]="cat.imageForShowCase"/></td>
          <td><img [src]="cat.imageForCart"/></td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteLeafyGreenVegetable(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editLeafyGreenVegetable(leafyGreenVegetable)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="name" [(ngModel)]="leafyGreenVegetable.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="nameForTelugu" [(ngModel)]="leafyGreenVegetable.nameForTelugu" placeholder="nameForTelugu" required>
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="name" [(ngModel)]="leafyGreenVegetable.nameForHindi" placeholder="Name" required>
              </div>
              <div class="form-group">
                <select class="form-control" name="type" required [(ngModel)]="leafyGreenVegetable.type" >
                  <option *ngFor="let c of itemTypes" [ngValue]="c">{{c}}</option>
                </select>
              </div>
              <div class="form-group">
                  <input class="form-control" type="number" name="countPerKg" [(ngModel)]="leafyGreenVegetable.countPerKg" placeholder="countPerKg" required>
              </div>                            
              <div class="form-group">
                  <input class="form-control" type="number" name="averageWeightPerPiece" [(ngModel)]="leafyGreenVegetable.averageWeightPerPiece" placeholder="averageWeightPerPiece" required>
              </div>
              <div class="form-group">
                  <input type="radio" value="true" name="available" [(ngModel)]="leafyGreenVegetable.available" required> Yes
                  <input type="radio" value="false" name="available" [(ngModel)]="leafyGreenVegetable.available" required> No
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" name="description" [(ngModel)]="leafyGreenVegetable.description" placeholder="description" required>
              </div>
              <div class="form-group">
                  <input class="form-control" type="number" name="price" [(ngModel)]="leafyGreenVegetable.price" placeholder="price" required>
              </div>
              <div class="form-group">
                <input class="form-control" #fileInput (change)="imageChange($event,1)" type="file" name="imageForCart" placeholder="imageForCart">
              </div>
              <div class="form-group">
                <input class="form-control" #fileInput (change)="imageChange($event,2)" type="file" name="imageForShowCase" placeholder="imageForShowCase">
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new Exotic Vegetable</h4>
  <div class="card-block">
  
  available: String,
  description: String
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addLeafyGreenVegetable()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
          <input class="form-control" type="text" name="nameForTelugu" formControlName="nameForTelugu" placeholder="nameForTelugu">
      </div>
      <div class="form-group">
          <input class="form-control" type="text" name="nameForHindi" formControlName="nameForHindi" placeholder="nameForHindi">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="countPerKg" formControlName="countPerKg" placeholder="countPerKg">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="averageWeightPerPiece" formControlName="averageWeightPerPiece" placeholder="averageWeightPerPiece">
      </div>  
      <div class="form-group">
        <input class="form-control" type="text" name="price" formControlName="price" placeholder="price">
      </div>

      <div class="form-group">
        Type
        <select class="form-control" formControlName="type" placeholder="type" name="type" [(ngModel)]="leafyGreenVegetable.type" >
          <option *ngFor="let c of itemTypes" [ngValue]="c">{{c}}</option>
        </select>
      </div>
      <div class="form-group">
        Available
        <input class="form-control" type="radio" value="true" name="available" formControlName="available" placeholder="available">Yes
        <input class="form-control" type="radio" value="false" name="available" formControlName="available" placeholder="available">No
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="description" formControlName="description" placeholder="description">
      </div>
      <div class="form-group">
        <input class="form-control" #fileInput (change)="imageChange($event,1)" type="file" name="imageForCart" placeholder="imageForCart">
      </div>
      <div class="form-group">
        <input class="form-control" #fileInput (change)="imageChange($event,2)" type="file" name="imageForShowCase" placeholder="imageForShowCase">
      </div>
      <button class="btn btn-primary" type="submit" ><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
